html,body{
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  background-color: #a394ca;
  color: white;
  width: 100%;
}

.navbar{
  background-color: #000000;         /*#5cdb95*/
}

.navbar-brand{
  font-family: monospace;
}

.nav-link:hover{
  color: #05386b !important;
}

.img-round{
  border-radius: 100%;
  border: 10px solid !important;
  height: 400px;
  width: 400px;
}

.skill-item{
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid !important;
  margin: 5px;
}

.ed-container{
  margin: auto;
}

.contact-icon{
  font-size: 20px;
}

#contact-section{
  margin-top: 0px;
  padding: 20px;
  background-color: #05386b;
}

.newsletter{
  padding: 10px;
}